#main-title {
    text-align: center;
    padding: 150px;
    font-size: 100px;
    font-weight: 900px;
    letter-spacing: 20px;
    background-size: cover;
    background-image: url("../images/swimbear.jpg");
    color: transparent;
    -webkit-background-clip: text;
}
  
.mission {
      margin: 0px 10vw 150px 10vw;
      text-indent: 80px;
      font-size: 2vh;
}

@media screen and (max-width: 700px) {
    #main-title {
      padding: 10vh 0 10vh 0;
      font-size: 14vw;
      letter-spacing: 1vw;
    }
}