@import "compass/css3";

#image {
  width: 100%;
  height: 500px;
  background-image: url("../images/homepage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#image-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#image-text {
  padding-bottom: 50px;
}

#content {
  background-color: gray;
  overflow: hidden;
}

#center{
  padding-top: 50px;
  background-color: white;
}

#center-info {
  padding-top: 40px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: DejaVu Sans Mono;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}

img {
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 10px;
}

#second-section {
  overflow: hidden;
}

#binary-image {
  max-width: 50%;
  max-height: 50%;
  float: right;
}

#third-section {
  margin-top: 50px;
}

