nav {
  margin-bottom: 0px !important;
  background-color: #282828;
  z-index: 1;
  font-family: Trebuchet MS;
  position: absolute;
}

.collapse-icon{
 background-color: white;
 float: right;
}

nav li a{
  color: #787878;
}

nav li a:hover, nav li a:active {
  color: white;
}

#header-logo {
  padding-left: 0px;
}

.nav-item {
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: white;
  background-color: #313131;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logged-out{
  display: none;
}

.logged-in{
  display: none;
}


 .footer {
    background-color: #282828; 
    overflow: hidden;
    clear: both;
    padding: 50px 20px 50px 20px;
    color: white;
    text-align: center;
}
.footer ul{
    list-style-type: none;
    padding-top: 30px;
    padding-left: 0;
}
.footer ul li{
  display: inline-block;
  padding: 15px;
}
.footer ul li a{
  color: white;
}
.footer hr {
  color: white;
  padding: 20px;
}

.footer-link {
	display: table;  
  margin: 0 auto;
  color: white;
  margin-bottom: 40px;
}

#disclaimer {
  font-size: 12px;
  text-align: center;
  padding: 30px;
}